<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shitpost</title>
  </head>
  <body>
    <form method="POST" action="/post">
      <input type="text" name="title" placeholder="Post title" required />
      <input type="text" name="slug" placeholder="Post slug" required />
      <textarea name="body" placeholder="Content"></textarea>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
